.fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#ffffff;
	background: maroon;
	padding:5px;
}
div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	border:1px solid #CCC;
	padding:8px;
}

#main-container{
  padding: 89px 0px 0px 269px !important;
}
