<div class="container">
	<h2> View Students </h2>



	<div class="form-group">
		<label for="search">Search:</label>
		<input type="text" class="form-control" name="search" id="email" placeholder="Enter Text to Search" ng-model="name">
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">List of Student Information</div>
		<div class="panel-body">


			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>City</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="student in students | filter:name">
						<td>{{student.name}}</td>
						<td>{{student.city}}</td>
						<td>{{student.email}}</td>
						<td>
							<button class="btn btn-danger btn-xs" ng-click="remove(student)">
						 <span class="glyphicon glyphicon-trash"></span>
					</button>

							<button class="btn btn-info btn-xs" ng-click="update(student)">
						 <span class="glyphicon glyphicon-pencil"></span>
					</button>

					<a class="btn btn-xs btn-danger glyphicon glyphicon-trash"
									ng-click="remove(student)" 
									confirm="Are you sure to delete crew type '{{student.name}}' !!!"
									confirm-settings="{size: 'md'}"
									confirm-header-class="confirm-header-danger "
									confirm-footer-class="confirm-footer-default"
									confirm-ok-button-class="btn-danger"
									confirm-cancel-button-class="btn-default"
									confirm-title="Confirm Deletion!!" confirm-ok="Yes"
									confirm-cancel="No" title="Remove"> 
									</a>

					  <!-- <button class="btn btn-danger btn-xs" title="delete " ng-click="remove(student)" ng-show="true" confirm="Are you sure to delete student '{{student.name}}' !!!"
                                            confirm-settings="{size: 'md'}" confirm-header-class="confirm-header-danger " confirm-footer-class="confirm-footer-default"
                                            confirm-ok-button-class="btn-danger" confirm-cancel-button-class="btn-default" confirm-title="Confirm Deletion!!"
                                            confirm-ok="Yes" confirm-cancel="No" title="Remove">
                                         <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                                      </button>
									  !-->


						</td>
					</tr>

				</tbody>
			</table>


		</div>
	</div>





<toaster-container toaster-options="{ 'time-out': 3000, 'close-button':true, 'position-class': 'toast-bottom-right'}"></toaster-container>
	<a class="btn btn-primary btn-md" href="#/home"> Back</a>
</div>